body{
    background: rgb(0,2,43);
    background: linear-gradient(145deg, rgba(0,2,43,1) 15%, rgba(0,92,116,1) 84%);
}
.elip{
    color: rgb(179, 213, 243);
    font-family: cursive;
}
h1{
    font-family: 'Merienda', cursive;
    font-size: 98px;
    text-shadow: 2px 2px 8px #ffffff;
    text-align: center;
    letter-spacing: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
  
}
h2{
    color: rgb(105, 107, 238);
    margin-left: 50px;
    margin-right: 50px;
}
p{
    color: aliceblue;
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
}
.eliptica{
    height: 300px;
    width: 300px;
    margin-left: 100px;
}