body{
    background-color: #222d2d;
    background-image: url("https://www.xtrafondos.com/wallpapers/resized/estrellas-de-la-via-lactea-4047.jpg?s=large");
  
  }
  h1{
    color: #f715be;
    text-align: center;
    text-shadow: 2px 2px 8px #000000;
    letter-spacing: 3px;
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  i { color:  #ffffff;
  }
   h3 { color: #d5f715;
    margin-left: 50px; 
    margin-right: 50px;
  }
  th{
    color: #ffffff;
  }
  p{
    color: aquamarine;
    margin-left: 50px; 
    margin-right: 50px;
  }
  ul
   { color: #ffffff; }
  .color{
    color: rgb(230, 51, 221);
   }