body{
    background: rgb(0,0,0);
    background: linear-gradient(145deg, rgba(0,0,0,1) 5%, rgba(5,199,218,1) 96%);
}
h1{
    font-family: 'Merienda', cursive;
    font-size: 98px;
    text-shadow: 2px 2px 8px #ffffff;
    text-align: center;
    letter-spacing: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.len{
    color: #adecf5;
}
h2{
    color: rgb(30, 219, 194);
    margin-left: 50px;
    margin-right: 50px;
}
p{
    color: #ffffff;
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
}
h3{
    color: bisque;
    margin-left: 50px;
    margin-right: 50px;
}
#sombra{
    margin-left: 300px;
    width: 300px;
    right: 300px;
}
#sombra2{
    margin-right: 300px;
    float: right;
    width: 300px;
    right: 300px;
}
#ultimo{
    float: right;
    width: 300px;
    right: 300px; 
    margin-right: 220px;
}
